* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin: 25px 0;
}

h1 {
    color: blue;
}

img {
    max-width: 100%;
}

.none {
    display: none;
}

#search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-form .form-group {
    display: flex;
    max-width: 45%;
    width: 45%;
}

.card{
    flex-direction: row;
    width: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card img{
    max-width: 400px;
}
.characteristics {
    position: relative;
    display: flex;
}

.characteristics > span{
    /*min-width: 200px;*/
    width: 50%;
}